@import "../../App.scss";
.custom-form-wrapper{
    .ant-form-item{
      margin-bottom: 3rem;
    }
    .ant-form-item-label{
      text-align: left;
      label{
        color: $grey;
        display: block;
        height: auto;
        font-size: 16px;
        p{
          white-space: normal;
        }
        &::before{
        display: none !important;
        font-size: 12px;
      }
      &::after{
        display: none !important;
      }
      
      .label-text{
        display: block;
        font-size: 10px;
      }
      }
      
    }
    .ant-input{
      padding: 9px 11px;
      border-radius: 4px;
      border: 1px solid $greyLighter;
      &:hover{
        background: $greyLight;
      }
    }
    .btn-primary-outline{
      text-align: left;
    }
    .ant-radio-group{
      display: block;
      .ant-radio-button-wrapper{
        display: block;
        width: 100%;
        margin-bottom: 0.3rem;
        background: #f7f7f7;
        padding: 8px 10px;
        height: auto;
        border-radius: 4px;
        border-width: 1px;
        color: $grey;
        position: relative;
        font-size: 16px;
        &:not(:first-child):before{
          border: none;
          background: none;
        }
        &:hover{
          background: $greyLight;
          color: $grey;
        }
      }
      &.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        color: #fff;
        background: $primary;
        border-color: $primary;
      }
      .ant-radio-button-checked{
        &::after{
          content: "";
          background: url(../../assets/images/tick-button.svg);
          width: 20px;
          height: 20px;
          position: absolute;
          right: 10px;
          background-size: 100%;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    h5.ant-typography{
      color: $grey;
      margin-top: 0.4rem;
      margin-bottom: 2rem;
      font-size: 12px;
      &.forgot-text{
        margin-bottom: 0;
        color: $primary;
        text-align: right;
      }
    }
    h3.ant-typography {
      margin-bottom: 1em;
      font-weight: 700;
      font-size: 26px;
    }
    
    h4.ant-typography {
      margin: 1em 0;
      color: $primary;
      font-size: 24px;
      font-weight: 400;
    }
    .ant-form-item-with-help .ant-form-item-explain{
      margin-top: 0.2rem;
    .ant-form-item-explain-error{
      color: $red;
    }
  }
  .custom-row-radio{
    &.ant-radio-group{
      display: flex;
      justify-content: space-between;
      .ant-radio-button-wrapper{
        width: 48%;
      }
    }
  }
  &.custom-form-wrapper-full{
    .ant-form-item {
      margin-bottom: 1.5rem;
      label{
        margin-bottom: 0.5rem;
      }
    }
  }
    
  .ant-input-affix-wrapper{
    padding: 9px 11px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    &:hover{
      background: $greyLight;
      border: 1px solid #CCCCCC;
    }
    .ant-input{
      background: none;
    }
  }
  }
  
.quote-text{
    font-size: 16px;
    color: $grey;
    margin: 3rem 0;
    span{
      color: $primary;
      cursor: pointer;
    }
  }

  .price-wrapper{
    border: $greyLight 1px solid;
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
    h5{
        margin: 0;
        font-size: 60px;
        color: $primary;
        line-height: 1;
    }
    p{
        color: $grey;
        margin: 0;
    }
  }
  .col-add-check{
    h4{
      color: $grey;
      font-weight: 700;
      margin-top: 1rem;
    }
    h5{
      color: $primary;
      margin-top: 0.4rem;
      cursor: pointer;
    }
  }
  .additional-checkbox{
    .ant-checkbox{
      display: none;
    }
    &.ant-checkbox-wrapper{
      border: $greyLight 1px solid;
      background: $lightSade;
      padding: 0.5rem;
      border-radius: 4px;
      .text-area{
        h5{
          color: $primary;
          font-size: 16px;
          line-height: 1;
          margin-bottom: 0.2rem;
        }
        p{
          color: $primary;
          font-size: 12px;
          margin-bottom: 0;
        }
      }
      .price-area{
        text-align: center;
        p{
          font-size: 12px;
          color: $grey;
          margin-bottom: 0;
          white-space: nowrap;
        }
        img{
          width: 20px;
        }
      }
      &.ant-checkbox-wrapper-checked{
        background: $yellow;
      }
    }
    .icon-image{
      width: 35px;
    }
  }
  .CheckListWrap{
    h4.ant-typography{
      font-weight: 700;
      color: $black;
      font-size: 14px;
    }
    .ant-list-item{
      display: block;
      line-height: 1;
      height: auto;
      padding: 0;
      border: none;
      margin-bottom: 1.5rem;
      h5{
        font-weight: 700;
        color: $grey;
        font-size: 14px;
      }
      p{
        color: $grey;
        font-size: 14px;
      }
    }
  }