.header{
    background-color: blue;
    padding: 8px;
  }
  .footor{
    background-color: blue;
  }
  h1{
    margin:0;
    justify-content: center;
    text-align: center;
  }
  .Movie{
      background-color:gray;
      border: 1px solid grey;
      color:black;
      width:22%;
  }
  .main{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 8px;
      font-weight: bold;
    }
    .movie img{
      height:220px;
      width:100%;

    }
  